:root {
  color-scheme: light dark;
  color: var(--color-grey-75);
  background-color: var(--color-bg--primary);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-bg--primary: #242424;
  --color-grey-25: #eeeeee;
  --color-grey-50: #979797;
  --color-grey-75: #666666;
  --color-grey-100: #000000;
  --color-grey-alpha25: #00000040;
  --color-grey-alpha50: #00000080;
  --color-grey-alpha75: #000000bf;
  --color-blue-decoration: #0088cc;
  --color-success-primary: #28a745;
  --color-success-secondary: #218838;
  --color-primary-primary: #007bff;
  --color-primary-secondary: #0069d9;
  --color-secondary-primary: #6c757d;
  --color-secondary-secondary: #5a6268;
  --color-danger-primary: #dc3545;
  --color-danger-secondary: #c82333;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 0;
  width: 75vw;
  height: 100vh;
  font-family: -apple-system, Roboto, Helvetica, Arial, sans-serif;

  @media (min-width: 768px) {
    width: 75vw;
  }
}

#root {
  width: 100%;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  position: relative;
  padding: 1rem;
}

.main-header {
  width: 100%;
  text-align: center;
  color: var(--color-grey-25);
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-evenly;
  gap: 2rem;

  @media only screen and (width >= 1024px) {
    flex-direction: row;
    width: 100%;
  }
}

.section-header {
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  border-bottom: 1px solid var(--color-grey-75);
  color: var(--color-blue-decoration);
  text-transform: capitalize;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  border: 1px solid grey;
  border-radius: 0.5rem;
  padding: 1rem 1.5rem;
  width: 100%;
  min-height: 15rem;
  background-color: var(--color-grey-25);
}

.section > * {
  min-height: 2rem;
  width: 100%;
  line-height: 2rem;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.form__input {
  background-color: var(--color-grey-25);
  padding: 1rem;
  height: 2rem;
  width: 100%;
  border: 1px solid var(--color-grey-50);
  border-radius: 0.25rem;
  color: var(--color-grey-75);
}

.form__input:focus {
  border: 2px solid var(--color-grey-75);
  outline: none;
}

.filter-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 0.25rem;
  background-color: var(--color-grey-25);
  border: 1px solid var(--color-grey-50);
  border-radius: 0.25rem;
}

.filter-form__input {
  background-color: transparent;
  padding: 1rem;
  height: 2rem;
  width: 10rem;
  border: none;
  color: var(--color-grey-75);

  @media only screen and (width >= 768px) {
    width: 70%;
  }
}

.filter-form__reset {
  padding: 0 0.5rem;
  border-left: 1px solid var(--color-grey-50);
  color: var(--color-grey-50);
}

.filter-form__reset:hover {
  cursor: pointer;
  color: var(--color-grey-75);
  font-weight: 600;
}

.filter-form__input:focus {
  border: none;
  outline: none;
}

.phonebook__list {
  text-align: left;
  font-size: 0.75rem;

  @media only screen and (width >= 768px) {
    font-size: 1rem;
  }
}

.modal {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  z-index: 1;
  background-color: var(--color-grey-alpha25);
}

.modal__content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 10rem;
  width: 24rem;
  padding: 1rem;
  background-color: var(--color-grey-25);
}

.modal__content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 10rem;
  width: 24rem;
  padding: 1rem;
  background-color: var(--color-grey-25);
  border-radius: 0.25rem;
}

.modal__button {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: -0.25rem;
  right: -0.25rem;
  width: 2rem;
  height: 2rem;
  padding: 0.5rem 1rem;
  border: 1px solid var(--color-grey-25);
  border-radius: 50%;
  font-size: 0.75rem;
  font-weight: 600;
  color: white;
}

.button-set {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;

  @media only screen and (width >= 768px) {
    max-width: 10rem;
  }
}

.button {
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  height: 100%;
  width: 100%;
  font-size: 0.75rem;
  font-weight: 600;
  text-align: inherit;
  color: white;
}

.button:hover {
  cursor: pointer;
}
